/*======================================
Custom Styles
======================================*/
.flt{
	
	float:right;
	 padding: 4px; 
	margin: 10px 10px 10px 10px; 
	display: inline;
	

	padding-right: 50px;
		padding-top: 50px;
}

.padding1{
	
	padding-left: 5px;
}

.paddad{

	padding-left: 9%;

}

.dab{
	
	padding-bottom: 18px;
}

.abra{
	
	pa:
	5px;
}
	

.wtf{
	
	margin-left: 1030px;
		padding-right:1px;
}

.abso{
	position: absolute;
	width: 500px;
	height: 60px;
	z-index: 1;
	margin-left: 330px;
	margin-top: 220px;
}


.parallax {

  background-image: url("../f.jpg");


  min-height: 200px; 


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {

  background-image: url("../h.jpg");
  min-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {

  background-image: url("../a.jpg");
  min-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {

  background-image: url("../d.jpg");
  min-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.background{
	
background: url("../pexels-photo-327509.jpeg");
	background-size: cover;
	height: 300px;
	position: relative;
	
	
	
}
.hero-text {
	  text-shadow: 2px 2px 10px #fff;

	
}


.white{
	color: #000000;
}

.round
{
	border-radius: 50%;
}

hr{
	border: 2px solid;
	border-color:#06609C;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	background-color: #52A337;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
	
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	width:410px;
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
	
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

.paddingcard{
	
	padding-left: 100px;
	
	
	
}
.green{
	background-color:#000; 
height: 55px
}

.center{
	
	position: center;
	
}

.frtpg2{
	
	padding-left: 200px;
	padding-top: 70px;
	width: 500px;
	height: 300px;
}
.frtpg3{
	
	

	width: 500px;
	height: 300px;
}

.frtpg1{
	
	width: 400px;
	height: 300px;
	padding-top: 90px;
}
.frtpg{
	
	width: 500px;
	height: 250px;
	
}


.word {
	left:200px;
	top: 200px;
	
}
.pad2{
	
	padding-left: 30px;
}

.ontop{
	
	position: absolute;
	left:270px;
	bottom:63px;
	
	
}

body{
	
	background-color:#2D4D63;
}
.big{
	
	height: 10px;
	width: 10px;
}

.center{
	
	text-align: center;
}
img{
    border: 0 none;
   padding: 5px 0px 0px 0px;
    max-width: 100%;
    vertical-align: middle;
}

.imgclass {
	
	width: 300px;
	height: 150px;

	
	
}

.isize3{
	width:270px;
height: 127px;
	padding-bottom: 18px;
}

flt1 {
	 
	float: right;
	
	
}

.flrght{
	float:right;
	 padding: 4px; 
	margin: 10px 10px 10px 10px; 
	display: inline;
	
}
.flrght9{
	float:right;
	 padding-top: 4px;
	padding-bottom: 4px;

	margin: 10px 10px 10px 10px; 
	display: inline;
	
	
}

.noth{
    position: absolute;
    font-family: 'Lusitana', serif;
    width: 659px;
}

.font3 {
	font-family: 'Lusitana', serif;
	
}

.thumbnail > img, .thumbnail a > img{
	height: 300px;
}


.padding{
padding: 10px 70px 10px 70px;
	}
	
	
.input-medium, textarea {
    width: 80%;
}

.thumbnail {

    background-color: transparent;
    border: 0px none;
	
}


.float{
	
	float: right;

	
}
.float3{
	
	float: left;
	padding-right: 10px; 
}

.isize{
	
	
	width: 450px;
	height:220px;
	
}
.isize2{
	
	
	width: 350px;
	height:200px;
	padding-bottom: 30px;
	
}

/*  ======================================
02. STRUCTURE
====================================== */


.container{
	background-color:#F2F2F2;
	max-width: 1200px;
	min-width: 61px;
	margin-right: auto;
	margin-left: auto;
	
}



.logo{
	text-align:center
	
}

.texo {
background-color: #E5D6B8;
	
	
}


footer{	

	min-height: 90px;
	float: left;
	clear: both;
	width: 100%;
	text-align: right;
	background-size: cover;
	background-color:#F2F2F2;	
	
}

#p {
	
	font-family: lusitana;
}



header{
	
}

#h1{
	
	font-family: italianno;
	color: red;
}



/*  ======================================
03.  TYPOGRAPHY
====================================== */

p{
	
	font-family: 'Lusitana', serif;
}

h1{
	
	font-family: italianno;
		color: #06609C;
font-size: 80px;
}


.sze{
	
	
	font-size: 33px;
}

h3, h4, h5, h6{
	color: #06609C;
	font-family: 'Lusitana', serif;
}

h3{
	font-size: 32px;
}

h2{
	
		font-family: italianno;
		color: #06609C;
font-size: 50px;
	
	
}
.linea{
	
	margin: 20px 0;
	background-color:#06609C;
	height: 2px;
	width:100%;
	
}

banner{
	height: 1000px;
}
.featurette-heading {
    
	 font-size: 50px;
}

.featurette-divider {
	margin: 80px 0;
	background-color:#666;
	height: 2px;
}



/*  ======================================
04. NAVIGATION
====================================== */


.navbar {
   height: 10px
}



/* Main Navigation Container*/
.navbar {
	
}





/* Navigation link text color */
.navbar .nav > li > a {
    color: #fff;
	font-size: 20px;
}

/* Navigation link text color on hover */
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color:#056297;
    color: #fff;
	font-size: 20px;
}





.size{
	
	width:1200px ;
		height: 400px;

}
.overlap2 {
position: relative;
height: 57; 
width: 210px;
top:20px;
}
.overlap3 {
	padding-top: 10px;



}
.overlap4 {

 width: 170px;
	height:70px;

}




/* //////////    Collapsed mobile navigation   ///////////////*/

/* Website's Name */


.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #08431F;

}

/* Collapsed navigation open menu button border */
.navbar-default .navbar-toggle {
  border-color: #fff;
	
}


/* Color of the collapsed navigation open menu icon bar */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


/* Collapsed navigation open menu button on hover */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #08431F;
    color: #fff;
}






/*  ======================================
05.  BOOTSTRAP ELEMENTS
====================================== */


/* ///////  ACCORDIONS / COLLAPSABLE GROUP //////////*/

.panel-default > .panel-heading {
	background-color: #128f28;
	border-color: #08431F;
	color: #fff;
}



/* ///////  TABS //////////*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus  {
    background-color: #08431F;
	color:#000;

}



.nav-tabs > li > a {
    background-color: #128f28;
	color:#fff
}


.nav > li > a:hover, .nav > li > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #128f28;
    text-decoration: none;
	color:#fff
}



.tab-content{
	background-color:#fff
	
}


.tab-content {
  border: 1px solid #ddd;
  padding: 15px;
}



/* ///////  BUTTONS //////////*/
.btn-primary {
    
    color: #fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    
    color: #fff;
}

















.banner{
	

}

.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
	position: absolute;
	bottom: 10px;

	z-index: 15;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -15px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -15px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}
.middle{
}












/*////////////////////////////////////////////////////////////////////
======================================
06. Responsive Styles (Media Queries)
======================================
////////////////////////////////////////////////////////////////////*/

	





    /* Large desktop */
    @media (min-width: 1200px) { 
	
	.frtpg1{
			
		padding-top: 30px;
		}
	
		
	 }
     
	 
	 
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {
		
	.frtpg1{
			
			width:300px;
		height:200px;
		}
			
		.frtpg{
			
			width:300px;
			height: 200px;
		}

	
		}


		
	
			
		
		
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
	
			
		.frtpg{
			
			width:280px;
			height:200px;
		}
		
	
	
	
	 
    /* Landscape phones and down */
    @media (max-width: 480px) {
		
	 .featurette-heading {
    margin-top: 0px;
      }


	.featurette-divider{
	margin: 20px 0
	}

		.frtpg1{
			
			width:380px;
			height:200px;
		}
		
		

		}

}